<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="My Software"
           Language="1033"
           Manufacturer="My Company"
           Version="1.0.0.0" 
           UpgradeCode="5f2c2c9c-0ba7-4067-80f3-dce019f92428">
    
    <Package InstallerVersion="200" 
               Compressed="yes" 
               InstallScope="perMachine" />
	<MediaTemplate EmbedCab="yes" />

	<Directory Id="TARGETDIR" Name="SourceDir">
	  <Directory Id="ProgramFilesFolder">
		<Directory Id="INSTALLFOLDER" 
				   Name="My Software" />
	  </Directory>
    </Directory>
	
    <Feature Id="AllFiles">
	  <ComponentGroupRef Id="OutputFilesGroup"/>
    </Feature>
  </Product>
</Wix>